= @model.model_name
%br
= @model.auditable_fields
%br
- @objects.each do |object|
  = object.id
  = link_to t("chrno_audit.view_its_history"), chrno_audit.history_path(@model.model_name.underscore, :id, object.id)
  %br

%tfoot
  %tr
    %td{:collspan => 5}
      - _with_routes(ChrnoAudit::Engine.routes) do
        = paginate @objects